#directories
logs/**
/**/coverage
/**/node_modules

#passwords
/**/*.pwd
auth.json
.env

#log files
/**/*.log

#config files
docker-compose.yml

#output files
public/*.html
public/*.js
public/*.css
public/*.map
public/*.gz
