body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#content {
	margin-top: 1rem;
	margin-bottom: 1rem;
	flex: 1;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h1 a {
	color: inherit;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

footer {
	text-align: center;
}

/* Universal Styling */
.logoMargin {
	margin: 10px;
}

.noPadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Gallery Styling */
.galleryName {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.galleryName p {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
