/* colors:
 *
 * border - #0b6623
 * header - #01796f
 * central- #f7ffd3
*/

/* global defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13pt Helvetica, Arial;
  width: 100vw;
  height: 100vh;
  background: #0b6623; /* border */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font: 24pt;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font: 14px;
}

img {
  align-self: center;
  height: auto;
  width: 100%;
}

a {
  color: #01796f; /* header */
}

p {
  padding-bottom: 0.5rem;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.left {
  text-align: left;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

/* header */
header {
  flex: 0 1 auto;
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #01796f; /* header */
}

.title {
  padding: 0;
  width: auto;
  height: 80px;
}

.headerButtons {
  flex: 0 1 auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
}

.headerButton {
  flex: 1;
  background: #01796f; /* header */
  color: #f7ffd3; /*  central */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerButton:hover {
  color: #01796f; /* header */
  background: #f7ffd3; /* central */
}

/* footer */
footer {
  flex: 0 1 auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* central display */
.central {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  min-height: 100vh;
  background: #f7ffd3; /* central */
}

@media screen and (min-width: 480px) {
  .central {
    margin: 0 10%;
  }
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* reactive layout */
.responsive {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img.responsive {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .responsive {
    flex-direction: row;
    justify-content: center;
  }

  img.responsive {
    width: 50%;
  }
}


