body {
	background: #EEE;
	font-family: arial;
	margin: 0;
}

h1, h2 {
	color: #333;
	margin: 0;
}

p {
	background: #CCC;
	color: black;
	padding: 5px;
	margin: 0;
}

a {
	color: blue;
}

header {
	background: #999;
	padding: 0 0 0 0;
	margin: 0;
}

header h1 {
	display: inline;
	margin: 0;
}

ul {
	list-style-type: none;
}

header nav {
	display: inline;
	margin: 0;
}

header nav ul {
	display: inline;
	padding: 0 0 0 15px;
	margin: 0;
}

header nav ul li {
	list-style-type: none;
	display: inline-block;
	background: black;
	color: white;
	padding: 5px 15px;
	margin: 0;
}

header nav ul li a {
	color: white;
}

.textbox {
	background: #CCC;
	color: black;
	padding: 5px;
	margin: 0;
}

.h3textbox {
	background: #CCC;
	color: #F33;
	padding: 5px;
	margin: 0;
}

.col {
	float: left;
	width: 33%;
	margin: 1px;
}

footer {
	clear: both;
}

footer p {
	background: none;
}